.container-fluid{
    margin:0 auto;
    width: 750px;
}
.wrapper{
    margin:0 auto;
    width: 250px;
}
body{
    background-color: #808080;


}
.card-group{
    margin: auto;
}
.card{
    border-color: blue;
    border-width: 3px;
}
.card-text{
    font-size: 20px;
}
.wrapp2{
    width:100%;
}
.description{
    width:100%;
}
.description h2{
    padding: 30px 30px 20px;
    font-family: Yu Gothic;
    font-size: 50px;
    color: #a5f2f3;
    line-height: 44px;
}
.description p{
    padding: 0px 30px 20px;
    font-family: Yu Gothic;
    font-size: 20px;
    color: #a5f2f3;
    line-height: 30px;
}
.img{
    width:100%;
}
@media only screen and (min-width: 768px){
    .wrapp2{
        width:600px;
        margin: 0 auto;
    }
    .description h2{
        padding: 20px 0px 0px;

    }
    .description p{
        padding: 20px 0px 0px;

    }

}
@media only screen and (min-width: 1000px){
    .wrapp2{
        width: 1000px;
    }
    .description{
        width: 50%;
        float: right;
    }
    .description h2{
        padding: 30px 0px 0px 30px;

    }
    .description p{
        padding: 30px 0px 0px 30px;

    }
    .img{
        width: 50%;
        float: left;
    }

}
.name{
    width: 100%;
    margin: 0 auto;
}
.info{
    width: 100%;
}
.info p{
    width:100%;
    padding: 20px 20px 10px;
    font-family: Lucida Bright;
    font-size: 24px;
}
.info h1{
    padding: 20px 20px 10px;
    color: #20c997;
    size: 48px;
}
.image{
    width: 100%;
}

@media only screen and(min-width: 768px){
    .name{
        width: 600px;
        margin: 0 auto;
    }
    .info h1{
        padding: 10px 0px 0px;
    }
    .info p{
        padding: 10px 0px 0px;
    }
}
@media only screen and (min-width: 1000px){
    .name{
        width: 1000px;
    }
    .info {
        width: 50%;
        float:left;
    }
    .info p{
        padding: 20px 0px 0px 20px;

    }
    .info h1{
        padding: 20px 0px 0px 20px;

    }
    .image{
        width: 60%;
        float: right;
    }
}
#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
#contact-form form{
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1A1A1A;
	box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01)
}

.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: #1ED98B;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.c-l-heading{
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;

}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;

}
.f-name h3,.f-email h3{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid #17d1ac;
	transition: all ease 0.5s;
}.message h3{
	font-size: 18px;
	color:#4E4E4E;
	font-family: calibri;

}
.message{
	margin: 20px;
}
.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}
@media(max-width:1190px){

	#contact-form form{
		width:95% !important;
	}

}

@media(max-width:900px){
	#contact-form{
		padding: 20px;
		height: auto;
		box-sizing: border-box;
	}


	#contact-form form {
		flex-direction: column;
		height:auto;
		padding: 20px;
		width:90% !important;

	}
	.contact-left,.contact-right{
		width:100%;
		border: none;
	}
	.f-name,.f-email{
		width: 100%;

	}
	.f-name input,.f-email input{
		width:100%;
		border: none;
		background-color: #262626 !important;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;

	}
	textarea{
		background-color: #262626 !important;
		margin: 10px 0px;
		padding: 10px;
		height: 200px !important;
		width:100% !important;
	}
	.message{
		margin:0px;
	}
	#contact-form form h1{
		margin:5px 0px;
	}


}

